.services_con {
    height: 600px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;

    & .services_title {
        margin-top: 53px;
        font-size: 32px;
        font-weight: bold;
        color: #333333;
    }

    & .services_list {
        margin-top: 110px;
        display: flex;
        justify-content: center;

        & .services_items {
            width: 250px;
            margin: 0 50px;

            & svg {
                width: 80px;
                height: 80px;
                color: #0085FF;
            }

            & h4 {
                color: #0085FF;
                font-size: 24px;
                font-weight: bold;
                margin: 25px 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .services_con{
        height: auto !important;

        & .services_list{
            flex-direction: column;
            margin: 50px 0;

            & .services_items{
                width: 100%;
                margin: 20px 0;
                padding: 20px;
            }
        }
    }
}