.port_con{
    max-width: 1170px;
    height: 910px;
    margin: 0 auto;
    overflow: hidden;

    & .port_title{
        font-size: 32px;
        font-weight: bold;
        margin-top: 45px;
        text-align: center;

    }

    & .port_list{
        display: grid; /* กำหนดเเบบ grid columns */
        grid-template-columns: 1fr 1fr 1fr; /* เเบ่งเป็น 3 คอลัมน์ */
        justify-items: center;  /* จัดให้อยู่ตรงกลาง */
        

        & .port_item{
            margin-top: 60px;

            & img{
                width: 300px;
                height: 300px;
                border-radius: 20px;
                object-fit: cover;
            }

            & p{
                font-size: 24px;
                font-weight: bold;
                margin: 10px 0;
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    .port_con{
        height: auto !important;
        margin: 30px 0;

        & .port_list{
            grid-template-columns: 1fr;
            padding: 20px;

            & .port_item{
                width: 100%;

                & img{
                    width: 100%;
                }
            }
        }
    }
    
}